body{
    margin:0;
}

header{
    background:#03a9f4;
    background:#4f4f4f;
    text-align:center;
}

.logo{
    color:#FFF;
    font-size: 40px;
    font-family: 'Anton'
}

header input{
    font-size: 20px;
    margin:20px 0;
}

.news-container{
   width:80%;
   margin: 0 auto;
   display:flex;
   flex-direction: row;

}

.single-news{
    width:50%;
    background: #efefef;
    margin: 20px;
    padding: 20px;
    border:2px solid #4f4f4f;
    border-radius:12px;
}